<div class="hero {% if hero.theme %}hero--theme-{{hero.theme}}{% endif %}">
    <div class="hero__container container" data-animate-sequence>
        <div class="hero__wrap">
            {% if hero.title %}
                <h1 class="hero__title h1" data-animate-sequence-el data-animate-sequence-delay="1">
                    {{hero.title}}
                </h1>
            {% endif %}

            <div class="hero__block" >
                {% if hero.subtitle %}
                    <div class="hero__subtitle text-lead"  data-animate-sequence-el data-animate-sequence-delay="1"
						 >{{hero.subtitle}}</div>
                {% endif %}
                {% if hero.list %}
                    <ul class="list">
                        {% for item in hero.list %}
                            <li class="list__li" data-animate-sequence-el
						 data-animate-sequence-delay="{{ loop.index }}">{{item}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if hero.actions %}
                    <div class="hero__actions" data-animate-sequence-el  data-animate-sequence-delay="4">
                        {% for action in hero.actions %}
                            <div class="hero__action">
                                {% view '@button' with {
									button: action
								} %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if hero.background %}
        <div class="hero__background">
            {% view '@image-adaptive' with {
                image: hero.background
            } %}
        </div>
    {% endif %}
</div>