<div class="field{{ field.datepicker or field.datepicker_range ? ' field--datepicker' }}{{ field.input_range ? ' field--input-range' }} js-validate-field {% if field.hasError %} has-error {% endif %}">
	{% if field.select %}
		{% view '@field-select' %}
	{% elseif field.datepicker %}
		{% view '@field-datepicker' %}
	{% elseif field.datepicker_range %}
		{% view '@field-datepicker-range' %}
	{% elseif field.search %}
		{% view '@field-search' %}
	{% elseif field.captcha %}
        {% view '@field-captcha' with {
            field: field
        } %}
	{% elseif field.input_range %}
		{% view '@field-input-range' %}
	{% elseif field.checklist %}
        <div class="field__group">
            {% for check in field.checklist|reverse %}
                <div class="control">
                    {% view '@field-checkbox' with {
                        field: check
                    } %}
                </div>
            {% endfor %}
        </div>
    {% elseif field.checklist %}
        <div class="field__group">
            {% for check in field.checklist %}
                <div class="control">
                    {% view '@field-checkbox' with {
                        field: check
                    } %}
                </div>
            {% endfor %}
        </div>
	{% elseif field.checkbox or field.radio %}
		{% view '@field-checkbox' %}
	{% elseif field.type %}
		{% view '@field-input' %}
	{% elseif field.textarea %}
		{% view '@field-textarea' %}
	{% endif %}

	{% if field.type == 'file' %}
		<label class="field__file-label" for="{{ field.id ?: field.name }}">
			{% view '@icon' with {
				icon: {
					name: "custom-size/add"
				}
			}%}
			<span class="">{{ field.label }}</span>
		</label>
	{% elseif field.label %}
		{% if field.id %}
			<label class="field__label"  for="{{ field.id }}">
				<span>{{ field.label }}</span>
				{% if field.hint %}
					<span class="field__hint">
						{% view '@hint' with {
							hint: field.hint
						}
						%}
					</span>
				{% endif %}
			</label>
		{% else %}
			<p class="field__label">
				<span>{{ field.label }}</span>
				{% if field.hint %}
					<span class="field__hint">
						{% view '@hint' with {
							hint: field.hint
						}
						%}
					</span>
				{% endif %}
			</p>
		{% endif %}
	{% endif %}
</div>
