<div class="input-shell{% if field.theme %} input-shell--{{ field.theme }}{% endif %} {% if field.type == 'file' %} input-shell--file{% endif %}" {% if field.type == 'file' %} data-upload-parent{% endif %}>
	<input {% if field.id %} id="{{ field.id }}"{% endif %}
		type="{{ field.type?: 'text' }}"
		class="input{% if field.class %} {{ field.class }}{% endif %}{% if field.type == 'file' %} input--file{% endif %}{% if field.theme %} input--{{ field.theme }}{% endif %}{{ field.hint ? ' input--has-hint' : '' }}"
		{% if field.placeholder %} placeholder="{{ field.placeholder }}"{% endif %}
		{% if field.name %} name="{{ field.name }}"{% endif %}
		{% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}
		{% if field.disabled %} disabled{% endif %}
		{% if field.required %} required{% endif %}
		{% if field.value %} value="{{ field.value }}"{% endif %}
		{% if field.readonly %} readonly{% endif %}
		{% if field.attr %} {{ field.attr }}{% endif %}
		{% if field.type == 'file' %} accept="{{ field.accept }}" data-upload-file {% endif %}
		{% if field.type == 'tel' %} data-mask-tel {% if field.pattern %} pattern="{{ field.pattern|raw }}"{% else %} data-parsley-pattern="/[0-9]{11,15}/i" {% endif %}data-mask-tel {% if field.mask_list %} data-mask='{% for item in field.mask_list %}{{item}},{% endfor %}' {% endif %} {% endif %}{% if field.type == 'email' %} data-parsley-pattern="/^([\w.*-]+@([\w-]+\.)+[\w-]{2,4})?$/" {% endif %}>

		{% if field.type == 'file' %}
			<div class="form__upload-file" data-upload-label>
				<label for="{{ field.id }}" class="label button button--white" data-aria-value="{{ field.button_upload.aria }}">
					<span class="form__text-upload">
						{{ field.button_upload.text }}
					</span>
					<span class="form__icon-upload">
						{% view '@icon' with {
							icon: field.icon
						} %}
					</span>
				</label>
				<p class="form__upload-text"></p>
			</div>
		{% endif %}
</div>

