<div class="field{{ field.type=='hidden' ? ' field--hidden' : '' }}{{ field.required ? ' field--required' : '' }}{% if field.theme %} field--theme-{{ field.theme }}{% endif %}">
	{# {% if field.label %}
		<label for="{{ field.id }}" class="field__label">{{ field.label }}</label>
	{% endif %} #}
	<div class="field__control">
		{% if field.input or field.type=='hidden' %}
			{% view '@field-input' with {
				field: field
			} %}
		{% elseif field.textarea %}
			{% view '@field-textarea' with {
				field: field
			} %}
		{% elseif field.search %}
			{% view '@field-search' with {
				field: field
			} %}
		{% elseif field.select %}
			{% view '@field-select' with {
				field: field
			} %}
		{% elseif field.switch %}
			{% view '@field-switch' with {
				field: field
			} %}
		{% elseif field.checkbox or field.radio %}
			{% view '@field-checkbox' with {
				field: field
			} %}
		{% endif %}
	</div>
</div>
