<form{% if form.offsets %} {{ form.offsets }}{% endif %}{%
	if form.id %} id="{{ form.id }}"{% endif %}
	{% if form.name %} name="{{ form.name }}"{% endif %}
	{% if form.action %} action="{{ form.action }}"{% endif %}
	{% if form.method %} method="{{ form.method }}"{% endif %}
	class="form {% if form.layout %}form--layout-{{form.layout}}{% endif %} {% if form.mob_layout %} form--mob-layout {% endif %}"
	{% if form.attr %} {{ form.attr }}{% endif %}
	data-parsley-validate
	data-animate-sequence
>

		<div class="form__container">
			
			<div class="form__content" data-filetextres>
					<div class="form__fields" data-animate-sequence-el data-animate-sequence-delay="3">
						{% for field in form.selects %}
							<div class="form__field" >
								{% view '@field' with {
									field: field
								} %}
							</div>
						{% endfor %}
						{% for field in form.fields %}
							<div class="form__field">
								{% view '@field' with {
									field: field
								} %}
							</div>
						{% endfor %}
					</div>
					<div class="form__bottom" data-animate-sequence-el data-animate-sequence-delay="4">
						{% if form.slider  %}
							<div class="form__slider">
								{% view "&slider" with {
									slider: form.slider
								} %}
							</div>
						{% endif %}
						{% if form.file  %}
							<div class="form__file">
								{% view '@field' with {
									field: form.file
								} %}
							</div>
						{% endif %}
					</div>
					{% if form.submit %}
						<div class="form__submit" data-animate-sequence-el data-animate-sequence-delay="5">
							{% view '@button' with {
								button: form.submit
							} %}
						</div>
					{% endif %}
		
			<div class="form__answer" data-form-answer></div>
			</div>
		</div>
</form>
