<header class="header"  data-header data-animate-custom>
	<div class="header__container container">
		<div class="header__content">
			{% if header.logo %}
				<a href={{header.logo.href}} class="header__logo" data-animate>
					{% view '@icon' with {
						icon: header.logo.icon
					} %}
				</a>
			{% endif %}
			<nav class="header__navigation">
				<ul class="header__items">
					{% for item in header.navigation %}
						<li class="header__item" data-menu-nav-el data-index="{{ loop.index }}">
							{% if item.href %}
								<a href="{{ item.href }}"
								   class="header__link {% if item.active %}header__link--active{% endif %} text-small"{% if item.external %} target="_blank"{% endif %}>
								   {{ item.text }}
								</a>
							{% else %}
								<span class="header__link text-small header__link--active">{{ item.text }}</span>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
			<button type="button" data-menu-burger class="header__toggle">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
</header>
